$theme-colors: (
  "primary": #fbb000,
  "secondary": #ff1700,
) !default;

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "../../../node_modules/bootstrap-vue/src/index.scss";

@font-face {
  font-family: Kollektif;
  src: url("../fonts/Kollektif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--body);
  color: var(--text);
  font-family: kollektif, sans-serif;
}

p {
  font-family: kollektif, sans-serif;
}

.navbar {
  min-height: 4rem;
  transition: all 0.25s linear;
}

.navbar .navbar-nav .nav-link.active {
  color: var(--text);
}

.navbar .navbar-text {
  color: var(--text);
  font-size: 1.1rem;
  padding: 0 1rem;
}

.navbar .navbar-nav .show > .nav-link {
  color: var(--text);
}

.navbar .navbar-nav .nav-link {
  color: var(--text);
  font-size: 1.2rem;
  &:hover {
    color: var(--dark);
  }
}

.styled-toggle {
  color: var(--text);
  border: none;
}

.dropdown-menu {
  background-color: var(--body);
  border: none;
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.5));
}

.dropdown-item {
  color: var(--text);
  &:hover {
    background-color: var(--mid);
  }
  &:active {
    background-color: var(--secondary);
  }
}

a {
  color: var(--mid);
  &:hover {
    color: var(--dark);
  }
}
