$theme-colors: (
  "primary": #fbb000,
  "secondary": #ff1700,
  "dark": #fb8c38,
  "mid": #fbb000,
  "highlight": #fcbf90,
  "body": #ffffff,
  "text": #000000,
  "accent": #a97600,
) !default;

// Bootstrap and its default variables
@import "../../../node_modules/bootstrap/scss/bootstrap";
// BootstrapVue and its default variables
@import "../../../node_modules/bootstrap-vue/src/index.scss";

@font-face {
  font-family: Kollektif;
  src: url("../fonts/Kollektif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--body);
  color: var(--text);
  font-family: kollektif, sans-serif;
  min-height: 100vh;
  padding: 0;
}

#app {
  min-height: 100vh;
  padding: 0;
}

p {
  font-family: kollektif, sans-serif;
}

.navbar {
  min-height: 4rem;
  transition: all 0.25s linear;
}

.navbar .navbar-nav .nav-link.active {
  color: var(--text);
}

.navbar .navbar-text {
  color: var(--text);
  font-size: 1.1rem;
  padding: 0 1rem;
}

.navbar .navbar-nav .show > .nav-link {
  color: var(--text);
}

.navbar .navbar-nav .nav-link {
  color: var(--text);
  font-size: 1.2rem;
  &:hover {
    color: var(--dark);
  }
}

.styled-toggle {
  color: var(--text);
  border: none;
}

.dropdown-menu {
  background-color: var(--body);
}

.dropdown-item {
  color: var(--text);
  &:hover {
    background-color: var(--mid);
  }
  &:active {
    background-color: var(--dark);
  }
}

a {
  color: var(--text);
  &:hover {
    color: var(--dark);
    text-decoration: none;
  }
}
