:root {
  $primary: #fbd600 !default;
  $secondary: #ff1700 !default;
  $success: $green !default;
  $info: $cyan !default;
  $warning: $yellow !default;
  $danger: $red !default;
  $light: $gray-100 !default;
  $dark: #fb8c38 !default;
  $mid: #fbb000;
  $highlight: #fcbf90;
  $body: #722c2c;
  $text: #363537;
  $accent: #a97600;
}

[theme="dark"] {
  $primary: #a8dadc !default;
  $secondary: #8338ec !default;
  $success: $green !default;
  $info: $cyan !default;
  $warning: $yellow !default;
  $danger: $red !default;
  $light: $gray-100 !default;
  $dark: #8037eb !default;
  $mid: #826ff1;
  $highlight: #816ff1;
  $body: #363537;
  $text: #fafafa;
  $accent: #dbd5fb;
}
